.about-section {
    /* background-color: #1a1a1a; */
    color: #fff;
    padding: 80px 20px;
    text-align: center;
  }
  
  .about-title {
    font-size: 2.5rem;
    color: #ff5722;
    margin-bottom: 10px;
  }
  
  .about-subtitle {
    font-size: 1.2rem;
    color: #ccc;
    margin-bottom: 40px;
  }
  
  .about-content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1rem;
    color: #ddd;
    line-height: 1.8;
    text-align: left;
  }
  
  .about-content p {
    margin-bottom: 20px;
  }
  
  .about-content strong {
    color: #ff5722;
  }
  

.skills-section {
    margin-top: 60px;
  }
  
  .skills-title {
    font-size: 1.8rem;
    color: #ff5722;
    margin-bottom: 30px;
  }
  
  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .skills-grid span {
    background-color: #292929;
    color: #fff;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    border: 1px solid #444;
  }
  
  .skills-grid span:hover {
    background-color: #ff5722;
    color: #fff;
    border-color: transparent;
  }
  