.contact-section {
    /* background-color: #121212; */
    color: white;
    padding: 60px 20px;
    text-align: center;
  }
  
  .contact-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #ff5722;
  }
  
  .contact-subtitle {
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 40px;
  }
  
  .contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #1e1e1e;
    color: white;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    box-shadow: 0 0 0 2px #ff5722;
  }
  
  .contact-button {
    background-color: #ff5722;
    color: white;
    padding: 14px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-button:hover {
    background-color: #e64a19;
  }
  