/* HomePage.css */

.homepage-container {
  text-align: center;
  padding: 40px;
}

.hero-section {
  display: flex;
  align-items: center; /* Vertically align content */
  justify-content: center; /* Horizontally center content */
  text-align: left; /* Align text to the left */
}

.hero-title {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
}

.hero-subtitle {
  font-size: 18px;
  color: #888;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #e64a19;
}

.hero-image img {
  max-width: 350px; /* Adjust the image width as needed */
  height: auto;
  /* border-radius: 50%; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}

.profile-image {
  max-width: 600px; /* Adjust the maximum width as needed */
  height: auto;
  /* border-radius: 50%; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}

.hero-text {
  margin-left: 20px; /* Add some spacing between the image and text */
}