.homepage-container {
  min-height: 100vh;
  /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.hero-section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  width:100vw;
}

@media (min-width: 768px) {
  .hero-section {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }
}

.hero-text {
  max-width: 600px;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.highlight {
  color: #ff5722;
}

.hero-subtitle {
  font-size: 1.25rem;
  color: #ccc;
  margin-bottom: 30px;
  font-style: italic;
}

.cta-button {
  background-color: #ff5722;
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 14px rgba(255, 87, 34, 0.3);
}

.cta-button:hover {
  transform: scale(1.05);
  background-color: #e64a19;
}

.hero-image img {
  max-width: 320px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 5px solid #ff5722;
  box-shadow: 0 0 20px rgba(255, 87, 34, 0.2);
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .hero-image img {
    margin-bottom: 0;
  }
}
